

// Set your brand colors
$white: #fff;
$grey-dark: #555;
$grey-light: #aaa;
$blue: #264d73;
$purple: #8A4D76;
$pink: #FA7C91;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;


// https://fontawesome.com/how-to-use/on-the-web/using-with/sass
$fa-font-path: "../font/webfonts";