<footer class="footer has-text-centered">
    <div class="container">
        <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
                <p>
                    {% for social in pages["_meta"].meta.social %}
                        <a href="{{ social.url }}" title="{{ social.title }}" role="button">
                            <span class="icon"><i class="{{ social.icon }}"></i></span>
                        </a>
                    {% endfor %}
                </p>
                <p style="margin-top: 1rem;">
                    <a href="http://bulma.io">
                        <img src="{{ theme_url }}/img/made-with-bulma.png" alt="Made with Bulma" width="128"
                             height="24">
                    </a>
                </p>
                <p>
                    <small>
                        <a href="http://picocms.org/">Pico</a> was made by <a href="http://gilbert.pellegrom.me">Gilbert
                            Pellegrom</a>
                        and is maintained by <a href="https://github.com/picocms/Pico/graphs/contributors">The Pico
                            Community</a>.
                    </small>
                </p>
                <p>
                    <small>
                        Source code licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
                    </small>
                </p>
            </div>
        </div>
    </div>
</footer>